# Node & React
feapp/node_modules/
feapp/build/

# PHP dependencies
bkapp/vendor/

# Composer files
bkapp/composer.phar

# Docker volumes
*.log
*.pid

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Jenkins
jenkins_home/

